
.svg-delete {
    fill: white;
    stroke: #0000005c;
    stroke-width: 0.05em;
    transition: fill 0.2s ease;
}

.svg-delete:hover {
    fill: #e84848;
}

.svg-edit {
    fill: white;
    stroke: #0000005c;
    stroke-width: 0.05em;
    transition: fill 0.2s ease;
}

.svg-edit:hover {
    fill: #5bd33a;
}
